[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
simplejson = "*"
pprint = "*"
"discord.py" = "*"
cleverwrap = "*"
tqdm = "*"
mongoengine = "*"
lxml = "*"

[dev-packages]

